In [ ]:
import pandas as pd
import pickle
from xgboost import XGBRegressor

In [ ]:
emp = pd.read_csv('cleaned_data.csv',index_col =[0])
emp

,jobType,degree,major,industry,yearsExperience,milesFromMetropolis,salary
0,cfo,masters,math,health,10.0,83.0,130
1,ceo,high_school,none,web,3.0,73.0,101
2,vice_president,doctoral,physics,health,10.0,38.0,137
3,manager,doctoral,chemistry,auto,8.0,17.0,142
4,vice_president,bachelors,physics,finance,8.0,16.0,163
...,...,...,...,...,...,...,...
999995,vice_president,bachelors,chemistry,health,19.0,94.0,88
999996,cto,high_school,none,finance,12.0,35.0,160
999997,junior,high_school,none,education,16.0,81.0,64
999998,cfo,masters,none,health,6.0,5.0,149
999999,junior,bachelors,none,education,20.0,11.0,88

In [ ]:
target = 'salary'
encode = ['jobType','degree','major','industry']

In [ ]:
for col in encode:
    dummy = pd.get_dummies(emp[col], prefix=col)
    emp = pd.concat([emp,dummy], axis=1)
    del emp[col]

In [ ]:
emp

,yearsExperience,milesFromMetropolis,salary,jobType_ceo,jobType_cfo,jobType_cto,jobType_janitor,jobType_junior,jobType_manager,jobType_senior,...,major_math,major_none,major_physics,industry_auto,industry_education,industry_finance,industry_health,industry_oil,industry_service,industry_web
0,10.0,83.0,130,0,1,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
1,3.0,73.0,101,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
2,10.0,38.0,137,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
3,8.0,17.0,142,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
4,8.0,16.0,163,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,19.0,94.0,88,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
999996,12.0,35.0,160,0,0,1,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
999997,16.0,81.0,64,0,0,0,0,1,0,0,...,0,1,0,0,1,0,0,0,0,0
999998,6.0,5.0,149,0,1,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
999999,20.0,11.0,88,0,0,0,0,1,0,0,...,0,1,0,0,1,0,0,0,0,0

In [ ]:
X = emp.drop('salary',axis = 1)
y = emp['salary']

In [ ]:
clf = XGBRegressor()

In [ ]:
clf.fit(X,y)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)

In [ ]:
pickle.dump(clf, open('emp_clf.pkl', 'wb'))